.App {
  background-color: rgba(38, 192, 171, 0.3);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mb-small {
  margin-bottom: 2.5rem;
}
.flex {
  display: flex;
  justify-content: space-between;
}
